<div *ngIf="eColumns?.length > 0"> 
<ejs-treegrid #treegrid [dataSource]='data' childMapping='child' [toolbar]='toolbar' [enableVirtualization]=true height='600' width='100%' [treeColumnIndex]='1'
    [allowFiltering]="true"
    [contextMenuItems]='contextMenuItems'
    (contextMenuClick)='contextMenuClick($event)' (contextMenuOpen)='contextMenuOpen($event)'
    [allowSorting]="true" [selectionSettings]='selectionSettings' 
    [editSettings]='editSettings'
    [pageSettings]='pageSettings'
    (actionBegin)="actionBegin($event)"
    [allowRowDragAndDrop]='true'>

  <e-columns>
    <e-column *ngFor="let col of eColumns" 
    [field]='col.field' 
    [headerText]='col.headerText' 
    [textAlign]='col.textAlign' 
    [width]='col.width'>
    </e-column>
  </e-columns>
  </ejs-treegrid>
</div>